<div class="container">
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a mat-button [href]="githubUrl"> <mat-icon> code </mat-icon> GitHub </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a mat-button [href]="discordUrl"> <mat-icon> chat </mat-icon> Discord </a>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div class="footer">
    <small> Site by JoeySweatpants, 2019 </small> <br/>
    <small> Arduino Code by Crane, 2019 </small> 
  </div>
</div>