<div class="container">
  <mat-list>
    <mat-list-item>
        <button mat-button> <mat-icon> code </mat-icon> GitHub </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-button> <mat-icon> chat </mat-icon> Discord </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-button> </button>
    </mat-list-item>
  </mat-list>

  <div class="footer">
    <small> Site by JoeySweatpants, 2019 </small> <br/>
    <small> Arduino Code by Crane, 2019 </small> 
  </div>
</div>