<mat-horizontal-stepper labelPosition="bottom" #stepper class="container" linear>

  <!-- BEGIN HARDWARE -->
  <mat-step [stepControl]="hardwareFormGroup">
    <form [formGroup]="hardwareFormGroup">
      <ng-template matStepLabel> Hardware </ng-template>
      <h2> Hardware </h2>
      <mat-form-field class="input-general">
        <mat-label> Arduino Board </mat-label>
        <mat-select formControlName="board">
          <mat-option *ngFor="let board of boards" [value]="board">
            {{board.text}}
          </mat-option>
        </mat-select>      
      </mat-form-field>
      <br/>
      <div class="input-checkbox">
        <mat-checkbox formControlname="nativeInput" [checked]="hardwareFormGroup.controls.board.value.nativeInput === 'true'"> USB Mode </mat-checkbox>
      </div>
      <div class="input-checkbox"> 
        <mat-checkbox formControlname="nunchuk"> Nunchuk </mat-checkbox>
      </div>
      <div class="input-checkbox">
        <mat-checkbox formControlname="dpadSwitch"> DPad Switch </mat-checkbox>
      </div>
    </form>
    <button class="button-next" mat-raised-button matStepperNext>Next</button>
  </mat-step>
  <!-- END HARDWARE-->

  <!-- BEGIN PIN ASSIGNMENT -->
  <mat-step [stepControl]="pinsFormGroup">
    <ng-template matStepLabel> Pin Assignment </ng-template>
    <h2> Games and SOCD Profile </h2>
    <form [formGroup]="pinsFormGroup">
      <mat-form-field class="input-general">
        <mat-label> Games </mat-label>
        <mat-select formControlName="gameProfiles" multiple (selectionChange)="createAngleFormControls()">
          <mat-option *ngFor="let gameProfile of gameProfiles" [value]="gameProfile">
            {{gameProfile.text}}
          </mat-option>
        </mat-select>      
      </mat-form-field>
      <br/>
      <mat-form-field class="input-general">
        <mat-label>SOCD</mat-label>
        <mat-select formControlName="SOCDProfile">
          <mat-option *ngFor="let socd of SOCDProfiles" [value]="socd">
            {{socd.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="input-tooltip" matTooltip="Simultaneous Opposing Cardinal Directions" matTooltipPosition="right" color="primary">info</mat-icon>

      <h2> Pin Assignment </h2>
      <p>
        You may prefix your pin with 'A' for an analog pin, or 'D' for a digital pin.
        If you do not prefix the pin, it will be assumed to be a digital pin. <br/>
        Example: 'A12', 'D19', '6' 
      </p> 
      <mat-form-field class="input-pin">
          <input matInput placeholder="Gamecube Console" formControlName="gamecubeConsole">
          <mat-error *ngIf="pinsFormGroup.controls['gamecubeConsole'].errors"> Invalid Pin Number </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field *ngFor="let button of buttons" class="input-pin">
        <input matInput [placeholder]="button.text" [formControlName]="button.id">
        <mat-error *ngIf="pinsFormGroup.controls[button.id].errors "> Invalid Pin Number </mat-error>
      </mat-form-field>
    </form>        
    <button class="button-next" mat-raised-button matStepperNext>Next</button>
  </mat-step>
  <!-- END PIN ASSIGNMENT-->

  <!-- BEGIN ANGLES -->
  <mat-step>
    <ng-template matStepLabel> Angles Assignment </ng-template>
    <h2> Angles Assignment </h2>
    <p>
      Below are your angle configurations. We've gone ahead and configured them for your selected games, but feel free to edit them. <br/>
      The numbers should be between 0 and 128 and represent how far from neutral the input will be. <br/>
      These angles are broken into their X and Y components respectively.
    </p>
    <div *ngFor="let gameProfile of pinsFormGroup.controls['gameProfiles'].value; let i=index">
      <h3 class="table-header"> {{ gameProfile.text }}</h3>
      <form [formGroup]="anglesFormGroup">
        <table>
          <tr>
            <td class="table-align-top">
                <h4 class="table-subheader"> Mod X </h4>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Horizontal" [formControlName]="'modXHorizontal' + gameProfile.id">
                </mat-form-field> 
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Vertical" [formControlName]="'modXVertical' + gameProfile.id">
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal (X)" [formControlName]="'modXDiagonalX' + gameProfile.id">
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal (Y)" [formControlName]="'modXDiagonalY' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal C-Down (X)" [formControlName]="'modXDiagonalCDownX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal C-Down (Y)" [formControlName]="'modXDiagonalCDownY' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal C-Left (X)" [formControlName]="'modXDiagonalCLeftX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal C-Left (Y)" [formControlName]="'modXDiagonalCLeftY' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal C-Up (X)" [formControlName]="'modXDiagonalCUpX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal C-Up (Y)" [formControlName]="'modXDiagonalCUpY' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal C-Right (X)" [formControlName]="'modXDiagonalCRightX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal C-Right (Y)" [formControlName]="'modXDiagonalCRightY' + gameProfile.id" >
                </mat-form-field>
            </td>
            <td class="table-align-top">
                <h4 class="table-subheader"> Mod Y </h4>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Horizontal" [formControlName]="'modYHorizontal' + gameProfile.id" >
                </mat-form-field> 
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Vertical" [formControlName]="'modYVertical' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal (X)" [formControlName]="'modYDiagonalX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal (Y)" [formControlName]="'modYDiagonalY' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal C-Down (X)" [formControlName]="'modYDiagonalCDownX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal C-Down (Y)" [formControlName]="'modYDiagonalCDownY' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal C-Left (X)" [formControlName]="'modYDiagonalCLeftX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal C-Left (Y)" [formControlName]="'modYDiagonalCLeftY' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal C-Up (X)" [formControlName]="'modYDiagonalCUpX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal C-Up (Y)" [formControlName]="'modYDiagonalCUpY' + gameProfile.id" >
                </mat-form-field>
                <br/>
                <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal C-Right (X)" [formControlName]="'modYDiagonalCRightX' + gameProfile.id" >
                </mat-form-field>
                <mat-form-field class="input-angle">
                    <input matInput placeholder="Diagonal C-Right (Y)" [formControlName]="'modYDiagonalCRightY' + gameProfile.id" >
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <td class="table-align-top"> 
              <h4 class="table-subheader"> L </h4>
              <mat-form-field class="input-angle">
                <input matInput placeholder="Horizontal" [formControlName]="'lHorizontal' + gameProfile.id" >
              </mat-form-field> 
              <br/>
              <mat-form-field class="input-angle">
                <input matInput placeholder="Vertical" [formControlName]="'lVertical' + gameProfile.id" >
              </mat-form-field>
              <br/>
              <mat-form-field class="input-angle">
                <input matInput placeholder="Diagonal Up (X)" [formControlName]="'lUpDiagonalX' + gameProfile.id" >
              </mat-form-field>
              <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal Up (Y)" [formControlName]="'lUpDiagonalY' + gameProfile.id" >
              </mat-form-field>
              <br/>
              <mat-form-field class="input-angle">
                <input matInput placeholder="Diagonal Down (X)" [formControlName]="'lDownDiagonalX' + gameProfile.id" >
              </mat-form-field>
              <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal Down (Y)" [formControlName]="'lDownDiagonalY' + gameProfile.id" >
              </mat-form-field>
            </td>
            <td class="table-align-top">
              <h4 class="table-subheader"> R </h4>
              <mat-form-field class="input-angle">
                <input matInput placeholder="Horizontal" [formControlName]="'rHorizontal' + gameProfile.id" >
              </mat-form-field> 
              <br/>
              <mat-form-field class="input-angle">
                <input matInput placeholder="Vertical" [formControlName]="'rVertical' + gameProfile.id" >
              </mat-form-field>
              <br/>
              <mat-form-field class="input-angle">
                <input matInput placeholder="Diagonal Up (X)" [formControlName]="'rUpDiagonalX' + gameProfile.id" >
              </mat-form-field>
              <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal Up (Y)" [formControlName]="'rUpDiagonalY' + gameProfile.id" >
              </mat-form-field>
              <br/>
              <mat-form-field class="input-angle">
                <input matInput placeholder="Diagonal Down (X)" [formControlName]="'rDownDiagonalX' + gameProfile.id" >
              </mat-form-field>
              <mat-form-field class="input-angle">
                  <input matInput placeholder="Diagonal Down (Y)" [formControlName]="'rDownDiagonalY' + gameProfile.id" >
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </div> 
    <button class="button-next" mat-raised-button matStepperNext>Next</button>
  </mat-step>
  <!-- END ANGLES-->

  <mat-step>
      <ng-template matStepLabel>Download</ng-template>
  </mat-step>
</mat-horizontal-stepper>