@import '~@angular/material/theming';

.input {
    &-general {
        width: 50%;
        margin: 5px;
    }

    &-checkbox {
        margin: 10px;
    }

    &-pin {
        width: 10%;
        margin: 5px;
    }

    &-tooltip {
        margin-left: 10px;
    }

    &-angle {
        margin: 5px;
        width: 45%;
    }
}

.table {
    &-align-top {
        vertical-align: top;
    }

    &-subheader {
        color: #3f51b5;
    }

    &-header {
        color: #ff3f81;
        margin-bottom: 0;
    }
}

.button {
    &-next {
        margin-top: 25px;
        margin-right: 10px;
    }
    &-upload {
        margin-right: 10px;
    }
    &-icon { 
        margin-right: 3px;
    }
}