<mat-horizontal-stepper labelPosition="bottom" #stepper class="container">

  <!-- BEGIN HARDWARE -->
  <mat-step [stepControl]="hardwareFormGroup">
    <form [formGroup]="hardwareFormGroup">
      <ng-template matStepLabel> Hardware </ng-template>
      <h2> Hardware </h2>
      <mat-form-field class="input-general">
        <mat-label> Arduino Board </mat-label>
        <mat-select formControlName="board">
          <mat-option *ngFor="let board of boards" [value]="board">
            {{board.text}}
          </mat-option>
        </mat-select>      
      </mat-form-field>
      <br/>
      <div class="input-checkbox">
        <mat-checkbox formControlname="nativeInput" [checked]="hardwareFormGroup.controls.board.value.nativeInput === 'true'"> USB Mode </mat-checkbox>
      </div>
      <div class="input-checkbox"> 
        <mat-checkbox formControlname="nunchuk"> Nunchuk </mat-checkbox>
      </div>
      <div class="input-checkbox">
        <mat-checkbox formControlname="dpadSwitch"> DPad Switch </mat-checkbox>
      </div>
    </form>
  </mat-step>
  <!-- END HARDWARE-->

  <!-- BEGIN PIN ASSIGNMENT -->
  <mat-step [stepControl]="pinsFormGroup">
    <ng-template matStepLabel> Pin Assignment </ng-template>
    <h2> Games and SOCD Profile </h2>
    <form [formGroup]="pinsFormGroup">
      <mat-form-field class="input-general">
        <mat-label> Games </mat-label>
        <mat-select formControlName="gameProfiles" multiple>
          <mat-option *ngFor="let gameProfile of gameProfiles" [value]="gameProfile">
            {{gameProfile.text}}
          </mat-option>
        </mat-select>      
      </mat-form-field>
      <br/>
      <mat-form-field class="input-general">
        <mat-label>SOCD</mat-label>
        <mat-select formControlName="SOCDProfile">
          <mat-option *ngFor="let socd of SOCDProfiles" [value]="socd">
            {{socd.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="input-tooltip" matTooltip="Simultaneous Opposing Cardinal Directions" matTooltipPosition="right" color="primary">info</mat-icon>

      <h2> Pin Assignment </h2>
      <p>
        You may prefix your pin with 'A' for an analog pin, or 'D' for a digital pin.
        If you do not prefix the pin, it will be assumed to be a digital pin. <br/>
        Example: 'A12', 'D19', '6' 
      </p> 
      <mat-form-field class="input-pin">
          <input matInput placeholder="Gamecube Console" formControlName="gamecubeConsole">
          <mat-error *ngIf="pinsFormGroup.controls['gamecubeConsole'].errors"> Invalid Pin Number </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field *ngFor="let button of buttons" class="input-pin">
        <input matInput [placeholder]="button.text" [formControlName]="button.id">
        <mat-error *ngIf="pinsFormGroup.controls[button.id].errors "> Invalid Pin Number </mat-error>
      </mat-form-field>
    </form>
  </mat-step>
  <!-- END PIN ASSIGNMENT-->

  <!-- BEGIN ANGLES -->
  <mat-step>
      <ng-template matStepLabel> Angles Assignment </ng-template>
      <h2> Angles Assignment </h2>
      <div *ngFor="let gameProfile of pinsFormGroup.controls['gameProfiles'].value">
          <h3> {{ gameProfile.text }}</h3>
          <mat-form-field class="input-pin">
            <input matInput placeholder="ModX + Horizontal" formControlName="modXHorizontal" [value]="gameProfile.modXHorizontal">
          </mat-form-field>
          <br/>
          <mat-form-field class="input-pin">
            <input matInput placeholder="ModX + Vertical" formControlName="modXVertical" [value]="gameProfile.modXVertical">
          </mat-form-field>
      </div> 
  </mat-step>
  <!-- END ANGLES-->

  <mat-step>
      <ng-template matStepLabel>Download</ng-template>
  </mat-step>
</mat-horizontal-stepper>